.bottom-right {
  position: fixed;
  bottom: 50px;
  right: 100px;
  padding: 10px 30px;
}

.bottom-left {
  position: fixed;
  bottom: 50px;
  left: 100px;
  padding: 10px 30px;
}

.top-right {
  position: fixed;
  top: 50px;
  right: 100px;
  padding: 10px 30px;
}

.top-left {
  position: fixed;
  top: 50px;
  left: 100px;
  padding: 10px 30px;
}